.App {
  text-align: center;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #3f9f !important;
}
.MuiGrid-item {
  padding: 0 !important;
}
.MuiListItem-gutters {
  padding-top: 2px !important;
  padding-left: 46px !important;
  padding-bottom: 2px !important;
}
.MuiListItemIcon-root {
  min-width: 30px !important;
  position: absolute !important;
  top: 5px;
  left: 16px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
